<div class="modal-header">
  <ng-template [ngIf]="loading == true">
    <span class="title">Loading pokemon info ...</span>
  </ng-template>
  <ng-template [ngIf]="loading == false">
    <span class="title">{{ beast.name }}</span>
  </ng-template>
</div>
<div class="modal-body">
  <div class="grid grid-cols-2">
    <!-- Image -->
    <div class="col-span-1">
      <img [src]="beast.image" />
    </div>
    <!-- end of image -->
    <!-- Info -->
    <div class="col-spans-1">
      <ng-template [ngIf]="loading == true">
        <app-loading></app-loading>
      </ng-template>
      <ng-template [ngIf]="loading == false">
        <ng-template [ngIf]="info">
          <ul>
            <li>
              <strong>Name</strong><span>{{ info.name }}</span>
            </li>
            <li>
              <strong>Height</strong><span>{{ info.height }}</span>
            </li>
            <li>
              <strong>Weight</strong><span>{{ info.weight }}</span>
            </li>
            <li>
              <strong>Base Experience</strong
              ><span>{{ info.baseExperience }}</span>
            </li>
            <li>
              <strong>Species</strong><span>{{ info.species.name }}</span>
            </li>
            <li>
              <strong>Types</strong>
              <p>
                <span *ngFor="let type of info.types">{{
                  type.type.name
                }}</span>
              </p>
            </li>
          </ul>
        </ng-template>
        <ng-template [ngIf]="!info">
          <p>No data found.</p>
        </ng-template>
      </ng-template>
    </div>
    <!-- end of info -->
  </div>
</div>
<div class="modal-footer">
  <button type="button" (click)="close()">Close</button>
</div>
