@import "../../../assets/scss/custom.scss";
.menu {
  position: fixed;
  top: $header-size;
  left: 0px;
  z-index: 1000;
  background-color: $main-color;
  ul {
    list-style-type: none;
    margin-bottom: 0px;
    li {
      display: inline-block;
      .cat {
        cursor: pointer;
        display: block;
        text-decoration: none;
        padding: 0.5rem 0.75rem;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        &:hover {
          background-color: $main-color-dark;
        }
      }
    }
  }
}
.menu-large {
  @media (max-width: 767.98px) {
    display: none;
  }
  ul {
    li {
      position: relative;
      .sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0rem;
        background-color: #fff;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
        min-width: 30vw;
        li {
          display: inline-block;
          min-width: 10vw;
          .sub {
            display: block;
            padding: 0.5rem 0.75rem;
            color: #000;
            font-size: 1rem;
            cursor: pointer;
            text-transform: capitalize;
            &:hover {
              font-weight: 600;
              color: $main-color;
            }
          }
        }
      }
      &:hover {
        .sub-menu {
          display: block;
        }
      }
    }
  }
}
.menu-mobile {
  @media (min-width: 768px) {
    display: none;
  }
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  display: flex;
  color: #fff;
}
.menu-mobile-expand {
  padding: 1rem;
  position: fixed;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  width: 100vw;
  z-index: 1200;
  background-color: $main-color;
  color: #fff;
  .close-icon {
    text-align: right;
  }
  ul {
    li {
      display: block;
      text-transform: uppercase;
      .cat {
        margin-bottom: 0.5rem;
      }
      .sub-menu {
        li {
          display: inline-block;
          text-transform: capitalize;
          margin-right: 0.5rem;
          margin-bottom: 0.5rem;
          padding: 0.5rem;
          border: 1px solid #fff;
        }
      }
    }
  }
}
