@import "../../../assets/scss/custom.scss";
.home {
  padding-top: $header-and-menu-size;
  padding-bottom: 2rem;
  section {
    .title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      .title {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 600;
        border-bottom: 2px solid $red-color-dark;
      }
      .button {
        padding: 0.25rem 0.75rem;
        border-radius: 0.25rem;
        background-color: $black-color;
        color: #fff;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
        font-size: 1rem;
        &:hover {
          background-color: $red-color-dark;
          text-decoration: none;
        }
      }
    }
  }
  section.videos {
    padding-bottom: 1rem;
    background-color: $red-color-dark;
    box-shadow: inset 0px 0px 1rem 0px rgba(0, 0, 0, 0.2);
    .title-wrapper {
      .title {
        color: #fff;
      }
    }
  }
}
