@import "~bootstrap/scss/bootstrap";
@import "assets/scss/custom.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-family: "Open Sans", Roboto, Helvetica;
}
main {
  min-height: 90vh;
}
/* Atomic */
.w100 {
  width: 100%;
}
.w90 {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.w80 {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.txt-center {
  text-align: center;
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
