@import "../../../assets/scss/custom.scss";
.pokemon-beast {
  img {
    display: block;
    width: 100%;
    height: 16rem;
    object-fit: contain;
    margin-bottom: 0.5rem;
  }
  .name {
    display: block;
    text-align: center;
    font-size: 1rem;
    color: $main-color;
  }
}
